.project-page {
    /* margin: 10%; */
    text-transform: lowercase;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {

    .project-page {
        flex-direction: column;
        margin: 5% 10% 10% 10%;

    }
}