.home-page {
    margin: 5% 10% 10% 10%;
    border-radius: 10px;
    text-transform: lowercase;
    font-size: 20px;

    background-color: white;
    border: solid;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}